{% extends "base.html" %}

{% block content %}
<h2>{{ object.title }}</h2>

{% if object.javascript %}
{{ object.javascript|safe }}
<div class="project_javascript">
  <canvas id="demo" width="800" height="600" onclick="setup();"></canvas>
</div>
{% endif %}

{% if object.flickrid %}
<style>
.project_flickr {
  width: 800px;
  height: 600px;
}
</style>

<script type="application/javascript" src="/static/javascript.flickrshow/flickrshow-7.2.min.js"></script>

<script type="application/javascript">
  var demo = new flickrshow('project_flickr', {
  'autoplay' : true,
  'interval' : 10000,
  'page' : 1,
  'per_page' : 10,
  'user':'69679282@N06'
  <!--'set' : '{{ object.flickrid }}'-->
  });
</script>

<div class="project_flickr">
<p>Please enable javascript.</p>
</div>
{% endif %}

{% if object.vimeoid %}
<link rel="stylesheet" type="text/css" href="/static/vimeo.css">
<div class="project_vimeo">
  <div id="badge">
    <div class="vimeoBadge horizontal">
      <!-- substitute album # in here -->
      <script src="https://vimeo.com/asymptoticdesign/badgeo/?script=1&badge_layout=horizontal&badge_quantity=5&badge_size=80&badge_stream=album&show_titles=no&badge_album={{ object.vimeoid }}"></script>
    </div>
  </div>
</div>
{% endif %}

<div class="project_details">
  <h2 class="title">{{ object.title }}</h2>
  <p class="date"> {{ object.start_date }} </p>
  <p class="description"> {{ object.summary }} </p>
</div>

{% endblock %}
